.landing-logo{
    width: 20%;
    padding: 10% auto;
    margin: 10% auto;
    background-color: rgba(0, 0, 0, 0);
}

.background-video{
    height: 100%;
    width: 200%;
}


.landing-body-page{
    background-color: transparent;
}

#background-video {
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden
}
