
.login-form {
    width: 340px;
    margin: 50px auto
}
.login-form form {
    margin-bottom: 15px;
    background: rgba(0, 0, 0, 0.712);
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}

.eye-logo{
    width: 100%;
}

.eye-logo-small{
    width: 70%;
}


.form-horizontal{
    margin: 0;
}

.form-control{
    width: 75%;
    margin: auto;
}

.login-body{
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: black;
}

.rowC, .sign-up-form{
    display:flex; 
    flex-direction:row;
}

.button-holder{
    margin: 10% 22%;
}

.login-div{
    margin-top: 100%;
}