body{
    color: black;
}

body{
    color: black;
}

.sidenav-container{
    margin-left: 48%;
    /* padding-left: 5%; */
    text-align: center;
}

.icon{
    padding: 10%;
    margin: 50%;
    color: white;
}