.sublime-side-menu{
    background-color: #2d2d2d;
    width: 15%;
    padding-right: 0;
    padding-top: 10px;
    margin-right: 2%;
    background-color: #d1d0d0;
    color: black;
    height: 900px;
}

.sublime-tabs-holder{
    width: 75%;
    padding: 0;
}

.sublime-body{
    background-color: rgb(41, 41, 41);
    margin-top: 1%;
}


.tabs{
    background-color: #919191;
}

img, .logo, #dropdown{
    background-color: transparent;
}
