.sublime-side-menu{
    background-color: #2d2d2d;
    width: 15%;
    padding-right: 0;
    padding-top: 10px;
    margin-right: 2%;
    background-color: #d1d0d0;
    color: black;
    height: 1000px;
}

.sublime-tabs-holder{
    width: 75%;
    padding: 0;
    text-align: left;
}

.sublime-body{
    background-color: rgb(36, 36, 36);
}


.tabs{
    background-color: #919191;
}

img, .logo, #dropdown{
    background-color: transparent;
}

.sublime-menu{
    padding-top: 5%;
}

.tab-container{
    float: left;
}

.left{
    text-align: left;
}