
.logo{
    width: 120%;
    padding: 10% 15% 0 0 ;
}

.background-video{
    height: 100%;
    width: 200%;
}

.modal-content{
    height: 100%;
    width: 50%;
    margin: 30% 0 0 25%;
    background-color: rgba(0, 0, 0, 0.383);
}

html, video, body{
    background-color: black;
}
